<div class="dashboard-container">
    <!-- Sidebar -->
    <div class="sidebar" [class.sidebar-open]="isSidebarOpen">
        <!-- Burger Menu inside Sidebar -->
        <button mat-icon-button (click)="toggleSidebar()" class="sidebar-toggle-btn">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- Sidebar content here -->
        <ul>
            <ul>
                <li>
                    <a routerLink="/faculty-dashboard/fdashboard" (click)="closeSidebar()">
                        <mat-icon>dashboard</mat-icon>
                        <span *ngIf="isSidebarOpen">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/faculty-dashboard/faculty-profile" (click)="closeSidebar()">
                        <mat-icon>account_circle</mat-icon>
                        <span *ngIf="isSidebarOpen">Profile</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/faculty-dashboard/markupdation" (click)="closeSidebar()">
                        <mat-icon>edit</mat-icon>
                        <span *ngIf="isSidebarOpen">Mark Updation</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/faculty-dashboard/feedback-forms" (click)="closeSidebar()">
                        <mat-icon>feedback</mat-icon>
                        <span *ngIf="isSidebarOpen">Feedback Forms</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/faculty-dashboard/fqa-faculty" (click)="closeSidebar()">
                        <mat-icon>question_answer</mat-icon>
                        <span *ngIf="isSidebarOpen">FQAs Section</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/login" (click)="closeSidebar()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span *ngIf="isSidebarOpen">Logout</span>
                    </a>
                </li>
            </ul>

        </ul>

    </div>

    <!-- Main Content -->
    <div class="content">
        <mat-toolbar color="primary">
            <span>{{ studentName  ? studentName  : 'Faculty Dashboard' }}</span>
        </mat-toolbar>
        <br>
        <router-outlet></router-outlet>
    </div>
</div>